.section-3 {
  width: 100%;
  padding: 5rem 0;
  background: linear-gradient(
    to right,
    rgba(3, 33, 129, 0.9),
    rgba(9, 67, 153, 0.8),
    rgba(4, 32, 124, 0.9)
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-3-heading {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 5rem;
}

.features {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.feature {
  width: calc(100% / 3);
  text-align: center;
  padding: 0 5rem;
  margin-bottom: 5rem;
}

.feature__heading {
  width: max-content;
  font-size: 3rem;
  font-weight: 300;
  margin: 0 auto 1rem auto;
}

.feature__paragraph {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}

